{% if data.pagination %}
<div class="text-center">
	<span class="ellipsis">
		{% if data.pagination.total>1 %}
			Page {{ data.pagination.page }} of {{ data.pagination.total }}.
		{% endif %}
	</span>
</div>
<nav aria-label="Navigation Page" class="pull-right" style="overflow:auto;">
	<ul class="pagination">
		{% if data.pagination.has_prev %}
			<li class="page-item"><a class="page-link" href="?page=1" title="Go to the first page" >&laquo; </a></li>
			<li class="page-item"><a class="page-link" href="?page={{ data.pagination.prev_page }}{{ data.url_params }}" title="Go to previous page">previous</a></li>
		{% endif %}
		
		{% for page_num in data.pagination.page_range %}
			{% if page_num %}
				{% if page_num == data.pagination.page %}
					<li class="active"><a class="page-link" href="#">{{ page_num }}</a></li>
				{% else %}
					<li class="page-item" ><a class="page-link" href="?page={{ page_num }}{{ data.url_params }}">{{ page_num }}</a></li>
				{% endif %}
			{% else %}
				<li class="page-item" ><span class="ellipsis">...</span></li>
			{% endif %}
		{% endfor %}

		{% if data.pagination.has_next %}
			<li class="page-item"><a class="page-link" href="?page={{ data.pagination.next_page}}{{ data.url_params }}" title="Go to next page">next</a></li>
			<li class="page-item"><a class="page-link" href="?page={{ data.pagination.total }}{{ data.url_params }}" title="Go to the last page"> &raquo;</a></li>
		{% endif %}
	</ul>
</nav>
{% endif %}
