{% extends "layout.html" %}

{% block body %}
<div class="container-fluid">
	<div class="mx-auto" style="margin-top:50px;width:600px;max-width:100%;">
		<form method="GET">
			<div class="">
				<h3 class="text-center">Find your prefered book</h3>
				<div class="input-group mb-3">
					<div class="input-group-prepend">
						<span class="input-group-text" id="basic-addon1">Book<span class="fa fa-book fa-lg ml-2"></span></span>
					</div>
					<input type="text" class="form-control" name="search" placeholder="Title, Author or ISBN" value="{% if data.search %}{{data.search}}{% endif %}" aria-label="Search" aria-describedby="basic-addon1" >
					<div class="input-group-append">
						<button type="submit" class="btn btn-primary" id="basic-addon2">Search</button>
					</div
				</div>
			</div>
		</form>
	</div>
	</div>
	{% if data.books %}
	<div class="book-contents mx-auto" style="width:1100px;max-width:100%;">
		{% for book in data.books %}
		<a href="{{ url_for('book', id=book.id )}}" class="card book">
			<div class="card-body">
				<blockquote class="blockquote text-center border-0">
				  <p class="m-0">{{book.title}}</p>
				  <footer class="blockquote-footer">{{book.author}}</footer>
				</blockquote>
			</div>
			<small class="text-center">{{book.year}}</small>
			<small class="text-center">Ratings: 
				<span class="fa fa-star checked" aria-hidden="true"></span>
				<span class="fa fa-star checked" aria-hidden="true"></span>
				<span class="fa fa-star checked" aria-hidden="true"></span>
				<span class="fa fa-star-o unchecked" aria-hidden="true"></span>
				<span class="fa fa-star-o unchecked" aria-hidden="true"></span>
			</small>
		</a>
		{% endfor %}
	</div>
	{% endif %}
	{% if data.no_result %}
		<h5>{{data.no_result}}</h5>
	{% endif %}
</div>
<!-- Pagination section -->
<div>
	{% include "_paginationhelpers.html" %}
</div>
{% endblock body %}

