{% extends "layout.html" %}

{% block body %}
<style>
	.book-contents {
		display: flex;
		flex-wrap: wrap;
		width: 100%;
	}

	.book-contents > div {
		background-color: ;
		box-shadow: 3px 3px #BFBFBF;
		font-size: 20px;
		margin: 10px;
		padding: 3px;
		width: 200px;
		max-width: 100%;
		min-width:200px;
		height: 250px;
		border: solid 1px #BFBFBF;
	}
	.checked {
		color: orange;
		}
</style>
<div class="container-fluid">
	<div class="book-contents mx-auto" style="width:1100px;max-width:100%">
	{% for book in data.books %}
	<div class="card">
		<div class="card-body">
			<blockquote class="card blockquote text-center border-0">
			  <p class="m-0">{{book.title}}</p>
			  <footer class="blockquote-footer">{{book.author}}</footer>
			</blockquote>
		</div>
		<small class="text-center">{{book.year}}</small>
		<small class="text-center">Ratings: 
			<span class="fa fa-star checked" aria-hidden="true"></span>
			<span class="fa fa-star checked" aria-hidden="true"></span>
			<span class="fa fa-star-half fa-star-o checked" aria-hidden="true"></span>
			<span class="fa fa-star" aria-hidden="true"></span>
			<span class="fa fa-star" aria-hidden="true"></span>
		</small>
	</div>
	{% endfor %}
	</div>
</div>
{% endblock body %}

