{% extends "layout.html" %}

{% block body %}
<div class="container-fluid">
	<h3 class="text-center">{{data.page_title}}</h3>
		<form method="GET">
				<div class="input-group mb-3 pull-right" style="width:500px;max-width:100%">
					<input type="text" class="form-control" name="search" placeholder="Title, Author or ISBN" value="{% if data.search %}{{data.search}}{% endif %}" aria-label="Search" aria-describedby="basic-addon1" >
					<div class="input-group-append">
						<button type="submit" class="btn btn-primary" id="serachButton">Search</button>
					</div
				</div>
		</form>
		</div>
	{% if data.books %}
	{% if data.search %}
	<div class="mx-auto"><h5><strong>Search results for:</strong> {{data.search}}</h5></div>
	{% endif %}
	<div class="book-contents mx-auto">
		<table class="table table-hover">
			<th>Book Title</th><th>Author</th><th>Published</th><th>All Ratings</th><th>My Rating</th>
		{% for book in data.books %}
		<tr><td>{{book.title}}</td><td>{{book.author}}</td><td>{{book.year}}</td><td>{{book.rating}}</td><td>{{book.rating}}</td></tr>
		<!--<a href="{{ url_for('book', id=book.book_id )}}" class="card book">
			<div class="card-body">
				<blockquote class="blockquote text-center border-0">
				  <p class="m-0">{{book.title}}</p>
				  <footer class="blockquote-footer">{{book.author}}</footer>
				</blockquote>
			</div>
			<small class="text-center">{{book.year}}</small>
			<small class="text-center">Ratings: 
				<span class="fa fa-star checked" aria-hidden="true"></span>
				<span class="fa fa-star checked" aria-hidden="true"></span>
				<span class="fa fa-star checked" aria-hidden="true"></span>
				<span class="fa fa-star-o unchecked" aria-hidden="true"></span>
				<span class="fa fa-star-o unchecked" aria-hidden="true"></span>
			</small>
		</a> -->
		{% endfor %}
		</table>
	</div>
	{% endif %}
	{% if data.no_result %}
		<h5 class="text-center">{{data.no_result}}</h5>
	{% endif %}
</div>
{% endblock body %}

