{% extends "layout.html" %}

{% block body %}
<style>
	th {
		background-color:#DEDEDE;
		}
</style>
<div class="container-fluid">
	<h3 class="text-center">{{data.page_title}}</h3>
	<div class="pull-right" style="width:500px;max-width:100%">
		<form method="GET">
				<div class="input-group mb-3">
					<input type="text" class="form-control" name="search" placeholder="Title, Author or ISBN" value="{% if data.search %}{{data.search}}{% endif %}" aria-label="Search" aria-describedby="basic-addon1" >
					<div class="input-group-append">
						<button type="submit" class="btn btn-primary" id="serachButton">Search</button>
					</div>
				</div>
		</form>
	</div>
	{% if data.books %}
	{% if data.search %}
	<div class="mx-auto"><h5><strong>Search results for:</strong> {{data.search}}</h5></div>
	{% endif %}
	<div class="book-contents table-responsive">
		<table class="table table-hover">
			<th>Book Title</th><th>Author</th><th>Published</th><th>ISBN</th><th>My Rating</th>
		{% for book in data.books %}
		<tr><td><a href="{{url_for('book', id=book.book_id)}}">{{book.title}}</a></td><td>{{book.author}}</td><td>{{book.year}}</td><td>{{book.isbn}}</td><td><span class="rating">{{book.rating}}</span></td></tr>
		{% endfor %}
		</table>
	</div>
	{% endif %}
	{% if data.no_result %}
	<div>
		<h5 class="text-center alert-warning">{{data.no_result}}</h5>
	</div>
	{% endif %}
</div>
<!-- Pagination section -->
<div>
	{% include "_paginationhelpers.html" %}
</div>
<script src="{{url_for('static',filename='js/myscript.js')}}?v=1.2"></script>
{% endblock body %}

